body {
    padding: 0px;
    margin: 0px;
}



@font-face {
    font-family: 'antipastoregular';
    src: url('../fonts/antipasto-webfont.eot');
    src: url('../fonts/antipasto-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antipasto-webfont.woff') format('woff'),
         url('../fonts/antipasto-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1,h2, label {
    font-family: 'antipastoregular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #333;
}

p, td, a, h3, h4 {
    color: #6f6f6f;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

tr {
    margin: 0px;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    height: 24px;
    padding: 9px 0px 9px 0px;
    z-index: 100;
}

.header a {
    font-family: 'antipastoregular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.2em
    
}

.inner-header {
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    float: left;
}

.logo-img {
    float: left;
}

.addcv {
    background: #414343;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.addcv a{
    color: #fff !important;
    text-shadow: none !important;
    
}

.logo-h {
    float: left;
    font-size: 24px;
    margin: 0px 0px 0px 7px;
    color: #414343;
    text-shadow: 1px 1px 3px #d4d4d4;

}

.option-container {
    float: right;
}

.option-container ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.option-container ul li {
    float: right;
    padding: 3px 15px;
}

.option-container ul li:first-child {
    padding-right: none;
}


.option-container ul li a{
    padding: 0px;
    margin: 0px;
    color: #6f6f6f;
    text-decoration: none;
    text-shadow: 1px 1px 3px #d4d4d4;
    font-weight: bold;
}

.option-container ul li a:hover{
    color: #414343;
}



.social-container {
    float: right;
    padding-left: 8px;
    
    border-left: 1px solid #e5e5e5;
}

.social-container a{
    float: right;
    margin-left: 7px;
}

.social-container a img {
    height: 25px;
}

/* MAIN */

.blue-block {
    width:100%;
    height: 300px;
    
    padding-top: 42px;
    box-shadow: 2px 0px 10px #333;
    
}

.banner-container {
    position: absolute;
    z-index: -1;
    background-image: url('../img/banner.png');
    height: 300px;
    width: 1024px;
    background-repeat: no-repeat;
    top: 0px;
    left: -160px;
}

.banner-bg {
    width: 100%;
    height: 300px;
    background: #0e100e;
   position: absolute;
    z-index: -1;
}

.content {
    width: 1023px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.left-content {
    box-sizing: border-box;
    width: 66.66%;
    float: left;
    padding-top: 280px;
    
}

.page-header {
    font-size: 6em;
    font-weight: 100;
    text-shadow: 1px 1px 3px #333;
    color: #fff;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.left-content .white-text {
    font-size: 1.3em;
    padding: 0px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    padding-bottom: 44px;
}

.apply-box {
    position: relative;
    letter-spacing: 0.05em;
    width: 100%;
    font-size: 2em;
    background-color: #414343;
    border: 1px solid #e5e5e5;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-family: 'antipastoregular', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #333;
    box-shadow: 2px 0px 10px #333;
        -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 30px;
    -webkit-transition: color 1s, background-color 1s; /* Safari */
    transition: color 1s, background-color 1s;

    
}

.apply-box:hover {
    background-color: #f5f5f5;
    color: #414343;
    -webkit-transition: color 1s, background-color 1s; /* Safari */
    transition: color 1s, background-color 1s;
}

.text {
    padding-top: 40px;
}

.text p {
    width: 90%;
    font-size: 1.2em;
}

.right-content {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 10px 30px 30px 30px;
    background-color: #f5f5f5;
    margin-top: 50px;
   z-index: 100;
    box-shadow: 0px 0px 3px #333;
    
}

.right-content h2 {
    font-size: 1.7em;
}

.timetable {
    padding-top: 0px;
    
}

.timetable td {
    font-size: 1.3em;
}

.timetable h2 {
    color: #414343;
}

.timetable h3 {
    text-transform: uppercase;
}

.timetable a {
    color: #414343;
    text-decoration: none;
}

.cv-menu {
    width: 20%;
    float: left;
    height: 100%;
}

.ul-menu {
    position: fixed;
    top: 100px;
    max-width: 200px;
    list-style: none;
    padding: 0px;
}

.ul-menu ul{
    list-style: none;
    padding: 0px 0px 0px 10px;
}


.ul-menu li {
     border-top: 1px solid #f5f5f5;
     padding: 5px;
}

.ul-menu li a:hover {
    color: #414343;
    cursor: pointer;
}

.ul-menu ul li a {
    
}

.cv-form {
    padding-top: 80px;
    width: 80%;
    float: left;
}

.cv-form h2 {
    font-size: 2.6em;
    color: #6f6f6f;
    border-bottom: 1px solid #f5f5f5;
}

fieldset {
    border: 0px;
}

fieldset label {
  font-family: 'Open Sans',sans-serif;
  color: #9d9d9d;
  font-size: 17px;
  font-weight: 400;
  display: block;
  margin: 30px 0 15px;
  line-height: normal !important;
  
}

input {
  background: #f5f5f5;
  border: none;
  box-shadow: 0 1px 0 #b5c9d4 inset,0 1px 2px #b5c9d4 inset,0 -1px 0 #d5e1e8 inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .75rem 1.25rem;
  height: 3.425rem;
  margin: 0;
  color: #555;
  display: block;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.education {
    
}

.half {
    box-sizing: border-box;
    width: 49%;
    float: left;
}

.full {
    width: 96.1%;
}

.input-day {
    width: 3.5em;
    float: left;
    margin-right: 20px;
}

.input-year {
    width: 5.1em;
    float: left;
}
.add, .remove {
    font-weight: bold;
    width: 100px;
    color: #333;
    
    text-align: center;
    font-size: 3.4em;
    background: transparent;
    border: none;
}

.add-block {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.add {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

.remove {
    position: absolute;
    right: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.remove:hover {
    opacity: 1;
}

.pretty-gumb {
    padding: 10px;
    border: none;
    width: 100%;
      background: #414343;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'antipastoregular', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
    
}

.cvs {
    padding-top: 50px;
}

.cv-search {
    margin-bottom: 70px;
}

.cv-search input {
    float: left;
    margin-left: 20px;
    width: 650px;
}

.cv-search i {
    float: left;
    font-size: 2em;
    color: #6f6f6f;
}


.cv-field {
    width: 70%;
    font-size: 1.1em;
    height: 2em;
}

.cv-show {
    width: 100%;
}

.cv-show td {
    padding: 5px 7px 5px 7px;
    vertical-align: top;
}

.cv-show tr:nth-child(even){
     background: #f5f5f5;
}

.cv-fields a {
    margin-right: 15px;
    color:  #414343;
}

.modal-container {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 100%;
    top: 0px;
    padding-top: 100px;
   
}

.bg-hold {
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: -1;
    background-image: url('../img/bg.png');
    position: fixed;
}

.modal {
    width: 800px;
    background: #fff;
    padding: 20px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 3px;
    position: relative;
}

.modal.small {
    width: 600px;
}

.modal a {
    color: #414343;
}

.modal td {
    padding: 3px 5px 3px 5px;
}

.modal .edu-data td:first-child {
    width: 25%;
}

.modal .edu-data table {
    width: 100%;
}

.modal .personal-holder:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.modal .personal-holder {
display: inline-block;
width: 100%;
}

.modal .name {
    width: 25%;
    float: left;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
}

.modal td {
    vertical-align:top;
}

.modal tr:hover {
    background: #e5e5e5;
    cursor: default;
}

.modal .personal-data {
    width: 75%;
    float: left;
    padding: 20px 0px 0px 30px;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
}

.modal-logo {
    width: 100%;
    text-align: center;
}

.fixed-modal {
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal .edu-data {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0px 20px 0px;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 2em;
}

/* LOGOS */

.participants {
    padding-top: 80px;
}

.participant {
    width: 33%;
    float: left;
}